KAFKA_BOOTSTRAP_SERVERS="<YOUR_CONFLUENT_BOOTSTRAP_SERVER>"
KAFKA_API_KEY="<YOUR_CONFLUENT_API_KEY>"
KAFKA_API_SECRET="<YOUR_CONFLUENT_API_SECRET>"
SCHEMA_REGISTRY_URL="<YOUR_SCHEMA_REGISTRY_URL>"
SCHEMA_REGISTRY_API_KEY="<YOUR_SCHEMA_REGISTRY_API_KEY>"
SCHEMA_REGISTRY_API_SECRET="<YOUR_SCHEMA_REGISTRY_API_SECRET>"
GEMINI_API_KEY="<YOUR_GEMINI_API_KEY>"
